<html>
    <head>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
        
            <!-- Custom CSS -->
            <link rel="stylesheet" href="/static/demo1.css">
        
            <title>gas prediction</title>
            
        </head> 

    </head>
    <body   style=" background: #000046;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;">
        <nav id="mainnavbar" class="navbar navbar-dark navbar-expand-md py-0 " style="background-color:rgb(25, 25, 112)">
            <a href="#" class="navbar-brand" style="color:white;">HOME</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  href="/login2" class="nav-link">Predict Price Here!</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 style="text-align:center;color:rgb(0,255,255);font-weight:bold;">NATURAL GAS <span style="color:rgb(255,248,220);font-weight:bold;">PRICE PREDICTOR</span></h1>
        <section class="container-fluid px-0 ">
            <div class="row align-items-center content">
                <div class="col-md-6 order-2 order-md-1">
                  <img src="../static/naturalgas.png" alt="naturalgas" style="width:600px;padding-left:80px">
                </div>
                <div class="col-md-6 text-center order-1 order-md-2">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2 style="color:rgb(0, 255, 255);font-weight:bold;font-size:40px;">ABOUT THE PROJECT</h2>
                            <p class="lead text-justify" style="color:rgb(0, 255, 255);font-size:20px;">Natural gas has been proposed as a solution to increase the security of energy supply and reduce environmental pollution around the world. Being able to forecast natural gas price benefits various stakeholders and has become a very valuable tool for all market participants in competitive natural gas markets. Machine learning algorithms have gradually become popular tools for natural gas price forecasting.Our Prediction Model uses the Decision Tree Regression Algorithm to predict the price of Natural Gas.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center content">
                <div class="col-md-6 text-center">
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                            <h2 style="color:rgb(25, 25, 112);font-weight:bold;">PREDICTION BASED ON HENRY HUB NATURAL GAS SPOT PRICE</h2>
                            <p class="lead text-justify" style="color:rgb(25, 25, 112);font-weight:bold;">Natural gas prices are mainly driven by supply and demand fundamentals.
                                            The demand for natural gas is driven by factors like weather, demographics, economic growth, price increases, and poverty, fuel competition, storage and exports.
                                            The supply for natural gas is driven by factors like Pipeline capacity, Storage, Gas drilling rates, Natural phenomena, Technical issues, imports and transportation wholesale rates.
                                            The most important hub for natural gas is the Henry Hub, located along the U.S. Gulf Coast. Here, the benchmark for natural gas prices is determined and traded for delivery on the NYMEX natural gas futures contract.
                                            When quoted by a trader, the price is the difference between the Henry Hub price and that location's price, called the basis price.
                                            Henry Hub is an important market clearing pricing concept because it is based on the actual supply and demand of natural gas as a stand-alone commodity.
                                            Therefore our dataset uses this price alone as input to predict natural gas price.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                   <img src="../static/drop.png" alt="drop" width="600px" style="float:left;">
                </div>
            </div>
           
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    
<script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.2,|colorStart|:[52,115,131,1],|colorEnd|:[180,225,243,1]},|particle|:{|life|:0.7,|power|:0.029,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/flame_03.png|,|number|:1745,|colorStart|:[237,118,221,0.32],|colorEnd|:[119,182,203,0.55],|sizeStart|:0.2,|sizeEnd|:0.4,|direction1|:{|x|:100,|y|:0,|z|:100},|direction2|:{|x|:0,|y|:0,|z|:-100}}}" data-container=".bg1"></script>

      
    </body>
</html>